# Python Conditions:

1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = float(input("type length: "))
breadth = float(input("type breadth: "))
if length==breadth:
    print("It is square")
else:
    print("It is not square")

type length: 5
type breadth: 6
It is not square

2. Take three integer values from the user and print the greatest among them.

In [2]:
number1 = float(input("type number 1: "))
number2 = float(input("type number 2: "))
number3 = float(input("type number 3: "))
if number1>number2:
    if number1>number3:
        print(number1," is the greatest among them.")
    else:
        print(number3," is the greatest among them.")
else:
    if number2>number3:
        print(number2," is the greatest among them.")
    else:
        print(number3," is the greatest among them.")

type number 1: 5
type number 2: 7
type number 3: 3
7.0  is the greatest among them.

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [3]:
total_class = int(input("type total number of class (Integer): "))
attend_class = int(input("type attended number of class (Integer): "))
attendance=(attend_class/total_class)*100
if attendance>=75.00:
    print("he/she is allowed to sit in an exam")
else:
    print("he/she is not allowed to sit in an exam")

type total number of class (Integer): 50
type attended number of class (Integer): 20
he/she is not allowed to sit in an exam

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [4]:
marks = float(input("type marks: "))
grade = ''
if marks>=90:
    grade = 'A+'
elif  marks>=80:
    grade = 'A'
elif  marks>=60:
    grade = 'B'
elif  marks>=50:
    grade = 'C'
elif  marks>=45:
    grade = 'D'
elif  marks>=25:
    grade = 'E'
else:
    grade = 'F'
print('Grade: ',grade)

type marks: 56
Grade:  C

# Loop Problem:

5. Print the following pattern using for and while loop.

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [5]:
n=8
for i in range(1,5):
    for j in range(1,n):
        print(j,end=' ')
    print()
    n=n-1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [6]:
n=8
i=1
while(i<5):
    j=1
    while(j<n):
        print(j,end=' ')
        j=j+1
    print()
    n=n-1
    i=i+1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [7]:
j=-100
while(j<-9):
    print(j,end=' ')
    j=j+1

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [8]:
sum = 0
for i in range(10,1000):
    for j in range(2,i):
        if i%j==0:
            break
    if i==j+1:
        sum=sum+i
print("sum all prime numbers within a range of 10 to 1000: ",sum)

sum all prime numbers within a range of 10 to 1000:  76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [9]:
n=7
m=n
sum = 1
while(n>0):
    sum = sum * n
    n = n - 1
print("factorial of an ",m,"! = ",sum)

factorial of an  7 ! =  5040

9. Reverse a given integer number 27956240710.

In [10]:
n=27956240710
r=0
while(n>0):
    r=r*10+n%10
    n=int(n/10)
print("Reverse ",r)

Reverse  1704265972

10. Print the following pattern using for and while loop.

# # #
# # # #
# # #
# #

In [11]:
n=4
m=n
for i in range(1,5):
    for j in range(1,n):
        print("#",end=' ')
    print()
    if(n<=4 and m<=4):
        n=n+1
        m=m+1
    else:
        n=n-1

# # #
# # # #
# # #
# #

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [12]:
n=1
p=0
f=0
c=0
print(" Fibonacci series 0 1",end=' ')
while(c<13):
    f=n+p
    print(f,end=' ')
    p=n
    n=f
    c=c+1

 Fibonacci series 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# Python inbuilt Data Structure:

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [13]:
Li = [1,3,5,[2,3],True]
Li[3][0]=3
Li[4]=False
print("Output = ",Li)

Output =  [1, 3, 5, [3, 3], False]

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [14]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
S3 = S1.intersection(S2)
print("intersection of S1 and S2 is ",S3)

intersection of S1 and S2 is  {True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [15]:
n = int(input("Type length of list: "))
Li =[]
for i in range(0,n):
    print("Type list item ",(i+1),":",end=' ')
    t = int(input())
    Li.append(t)
print("List Li  = ",Li)
Li = list(dict.fromkeys(Li))
print("Remove dupliacte from list Li = ",Li)
S1 = set(Li)
print("Set S1 = ",S1)
print("Max value of Set S1 = ",max(S1))

Type length of list: 5
Type list item  1 : 7
Type list item  2 : 6
Type list item  3 : 4
Type list item  4 : 6
Type list item  5 : 3
List Li  =  [7, 6, 4, 6, 3]
Remove dupliacte from list Li =  [7, 6, 4, 3]
Set S1 =  {3, 4, 6, 7}
Max value of Set S1 =  7

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [16]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
print("dictionary Dict = ",Dict)
Dict["region"] = Dict["country"] 
del Dict["country"] 
print("dictionary after key change Dict = ",Dict)

dictionary Dict =  {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}
dictionary after key change Dict =  {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [17]:
import pandas as pd
num = [10,100,300]
print("List num: ",num)
df = pd.DataFrame(num,columns =['number'])
df

List num:  [10, 100, 300]

   number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [18]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
print("dictionary Dict = ",Dict)
Dict["age"] = 28
print("dictionary after value change Dict = ",Dict)

dictionary Dict =  {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}
dictionary after value change Dict =  {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}